*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: #f0f2f5;
}

.fb{
    margin-top: 170PX;
    width: 50%;
}

.fb h2{
    font-size: 30px;
    font-weight: 400;
    margin-left: 70px;
    width: 100%;
}

.wrapper1{
    margin-top: 130px;
    border: none;
    width: 30%;
    height:60vh;
    margin-left: 130px;
    border-radius: 10px;
    /* display: flex;
    flex-wrap: wrap; */

}

.forgot1{
    /* position: relative; */
margin-left: 100px;
}

.btn1{
    margin-left: 70px;
    width: 60%;
}


.crea{
    width: 100%;
    font-weight: 300;
    position: relative;
    top: 40px;
    text-align: center;
    }
    
    .bb{
    /* position: relative; */
    /* top: 30px; */
    text-indent: 3em;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    /* text-decoration: underline ; */
    }
    